<% include ./partials/header %>
  <div class="ui container"id="safe">
    <h1>Some suggestions: </h1>
    <p>Take the first flight to Lisbon</p>
    <p>Sign up for a salsa class in Santiago de Cali, Colombia </p>
    <p>Go for a lovely run at Cliffs of Moher in Western Ireland </p>
    <p>Take a 22 day cruise from San Juan, through Barbados and back to San Juan</p>
    <p>Have a flight from Westray to Papa Westray, one of the shortest flights on the planet (2min)</p>
    <p>Book a great dinner in "Osteria Francescana" in Modena, Italy</p>
    <p>Buy tickets for "Romeo et Juliette" in The Metropolitan Opera, New York</p>
    <h3>So, what would you do?</h3>
    <div class="ui form">
      <div class="two fields">
     
         
    <button class="ui blue button"type="submit">Post your idea</button> <p class="make" >or</p> 
 
 
    <div  id="drop">
<div class="ui fluid search simple selection dropdown">
  <input name="day" type="hidden">
  <i class="dropdown icon"></i>
  <div class="default text" style="color:blue;">Choose a day</div>
  <div class="menu" style="padding-bottom:110%">
  <a href="/chores/day/Sa" ><div class="item" data-value="AF" style="color:black;>">Saturday</div></a>
  <a href="/chores/day/Su" ><div class="item" data-value="Su" style="color:black;">Sunday</div></a>
  <a href="/chores/day/Mo" ><div class="item" data-value="Mo" style="color:black;">Monday</div></a>
  <a href="/chores/day/Tu" ><div class="item" data-value="Tu" style="color:black;">Tuesday</div></a>
  <a href="/chores/day/We" ><div class="item" data-value="We" style="color:black;">Wednesday</div></a>
  <a href="/chores/day/Th" ><div class="item" data-value="Th" style="color:black;">Thursday</div></a>
  <a href="/chores/day/Fr" ><div class="item" data-value="Fr" style="color:black;">Friday</div></a>
  </div>
  </div>
  </div>
  <p class="make">and see what your friends would do</p>
    
     </div>
   </div>
   
    
   

<% include ./partials/footer %>